{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 text-gray-800">
    <header class="p-6 bg-white shadow">
      <nav>
        <ul class="flex justify-between items-center">
          <li>
            <a
              href="/"
              class="text-lg font-semibold text-gray-600 hover:text-gray-900"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/swagger/"
              class="text-lg font-semibold text-gray-600 hover:text-gray-900"
              >API Documentation</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main class="p-6">{% block content %} {% endblock %}</main>
  </body>
</html>
