{% extends 'base.html' %} {% block content %}
<h1>Cost Tracker</h1>
{% if user.is_authenticated %}
<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>
<ul>
  <li><a href="{% url 'submit_cost' %}">Submit Cost</a></li>
  <li><a href="{% url 'upload_file' %}">Upload File</a></li>
  <li><a href="{% url 'get_costs' %}">Get Costs</a></li>
  <li><a href="/swagger/">API Documentation</a></li>
</ul>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'register' %}">Signup</a></li>
{% endif %} {% endblock %}
